.background-gradient {
  background: linear-gradient(180deg, #f0f5ff 0%, #4b92c1 100%);
}

.opacityBlur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.icon:hover i {
  color: #274f64;
}
.icon:hover span {
  color: #274f64;
}

.icon:focus {
  outline: 0;
}
