.background-gradient {
  background: linear-gradient(180deg, #f0fff4 0%, #9ae6b4 100%);
}

.opacityBlur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.icon:hover i {
  color: #48bb78;
}
.icon:hover span {
  color: #48bb78;
}

.icon:focus {
  outline: 0;
}

.test:hover div {
  color: #48bb78;
}
